@import "staff/fonts";
@import "staff/colors";
@import "staff/vars";

@import "library/library";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Gilroy';
}

html,
body {
  @include fill-inside();

  color: var(--clr-main-dark);
  background: var(--clr-main-light);
}
